# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!jinbutusyoukai_01.jpg
!jinbutusyoukai_02.jpg
!jinbutusyoukai_03.jpg
!jinbutusyoukai_04.jpg
!jinbutusyoukai_05.jpg
!jinbutusyoukai_06.jpg
!jinbutusyoukai_07.jpg
!jinbutusyoukai_08.jpg
!jinbutusyoukai_09.jpg
!jinbutusyoukai_10.jpg
!jinbutusyoukai_11.jpg
!jinbutusyoukai_12.jpg
!jinbutusyoukai_13.jpg
!jinbutusyoukai_14.jpg
!jinbutusyoukai_15.jpg
!jinbutusyoukai_16.jpg
!jinbutusyoukai_17.jpg
!jinbutusyoukai_18.jpg
!jinbutusyoukai_19.jpg
!jinbutusyoukai_20.jpg
!jinbutusyoukai_21.jpg
!jinbutusyoukai_22.jpg
!jin_01.png
!jin_02.png
!jin_03.png
!jin_04.png
!jin_05.png
!jin_06.png
!jin_07.png
!jin_08.png
!jin_09.png
!jin_10.png
!jin_11.png
!jin_12.png
!jin_13.png
!jin_14.png
!jin_15.png
!jin_16.png
!jin_17.png
!jin_18.png
!jin_19.png
!jin_20.png
!jin_21.png
!jin_22.png