# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!jinbutusyoukai_01.jpg
!jinbutusyoukai_02.jpg
!jinbutusyoukai_03.jpg
!jinbutusyoukai_04.jpg
!jinbutusyoukai_05.jpg
!jinbutusyoukai_06.jpg
!jinbutusyoukai_07.jpg
!jinbutusyoukai_08.jpg
!jinbutusyoukai_09.jpg
!jinbutusyoukai_10.jpg
!jinbutusyoukai_11.jpg
!jinbutusyoukai_12.jpg
!jinbutusyoukai_13.jpg
!jinbutusyoukai_14.jpg
!jinbutusyoukai_15.jpg
!jinbutusyoukai_16.jpg
!jinbutusyoukai_17.jpg
!jinbutusyoukai_18.jpg
!jinbutusyoukai_19.jpg
!jinbutusyoukai_20.jpg
!jinbutusyoukai_21.jpg
!jinbutusyoukai_22.jpg